.navSection,.navSection ul{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navSection {
    padding:15px;
}



.navSection .links ul li{
 margin-left: 15px;
 font-size: 20px;
}

.navSection .links ul li a{
 margin-left: 15px;
 font-size: 20px;
}

.navSection{
    width: 100%;
}

@media (max-width: 481px) {
    .container {
      width: 100%;
    }
  
    .navSection {
    font-size: 16px;
    padding: 0px;
    }
  }
  